@font-face {
    font-family: 'Space-Grotesk';
    src: URL('/public/assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

.container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.PaymentForm-label {
    font-size: 12px;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: Space-Grotesk;
    font-weight: 500;
    letter-spacing: 1.1px;
    word-spacing: 2px;
}

input {
    margin-top: 5px;
    height: 40px;
    border-radius: 8px;
    border-color: darkgrey;
    border-width: 1px;
    font-family: Space-Grotesk;
    padding-left: 10px;
}

.confirm-btn {
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: azure;
    height: 40px;
    border-radius: 8px;
    margin-top: 25px;
    
}

.date-info {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.exp-date-input-group{
    display: flex;
    width: 100%;
    margin-right: 5px;
}

.exp-date-input {
    width: 50%;
    margin-right: 5px;
}

.cvc {
    width: 100%;
}

.cvc-input-group {
    display: flex;
    width: 100%;
}

.cvc-input {
    width: 100%;
}

/******PREVIEW CARD******/

.Preview-container {
    background-image: url("/public/assets/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    height: 200px;
    z-index: 0;
    background-size: cover;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin-right: 7vw;
}

.Preview-front-card {
    position: absolute;
    background-image: url("/public/assets/images/bg-card-front.png");
    background-size: 260px;
    height: 150px;
    width: 260px;
    background-repeat: no-repeat;
    z-index: 2;

    margin-top: 100px;
    margin-left: 20px;

}

.Preview-small-circle {
    margin-left: -65px;
}

.Preview-bottom-info {
    position: absolute;
    margin-top: 10px;
    color: white;
    width: 100%;
    height: 35px;
    display: flex;
    font-family: Space-Grotesk;
    font-size: 13px;
}

.Preview-cardholder-name{
    position: absolute;
    margin-left: 20px;
}

.Preview-date-info {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.Preview-card-number {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    font-family: Space-Grotesk;
    color: white;
    font-size: 18px;
    word-spacing: 6px;
}

.Preview-back-card {
    position: absolute;
    background-image: url("/public/assets/images/bg-card-back.png");
    background-size: 260px;
    height: 150px;
    width: 260px;
    background-repeat: no-repeat;
    z-index: 1;

    margin-top: 20px;
    margin-left: 100px;
}

.Preview-cvc {
    position: absolute;
    margin-top: 60px;
    margin-left: 205px;
    font-family: Space-Grotesk;
    color: white;
    font-size: 13px;
}

@media(min-width : 1023px) {
    .Preview-container {
        background-image: url("/public/assets/images/bg-main-desktop.png");
        background-repeat: no-repeat;
        height: 100vh;
        z-index: 0;
        width: 35%;
    }

    .cards-container {
        display: block;
        position: absolute;
        margin-left: 18%;
        margin-top: 20%;
    }

    .Preview-front-card {
        position: absolute;
        background-image: url("/public/assets/images/bg-card-front.png");
        background-size: 260px;
        height: 150px;
        width: 260px;
        background-repeat: no-repeat;
        z-index: 2;
    
        margin-top: -25px;
        margin-left: 20px;
    }

    .Preview-back-card {
        position: absolute;
        background-image: url("/public/assets/images/bg-card-back.png");
        background-size: 260px;
        height: 150px;
        width: 260px;
        background-repeat: no-repeat;
        z-index: 1;
    
        margin-top: 130px;
        margin-left: 100px;
    }

    /*APP js*/
    .Top-Container {
        display: flex;
        flex-direction: row;
    }

    .Component-PreviewCard {
        position: absolute;
        width: 100%;
        left : -5vw;
        height: 100vh;
    }
    .Component-PaymentForm {
        position: absolute;
        width: 40%;
        top : 18vh;
        left: 50vw;
        max-width: 800px;
        min-width: 300px;
    }
}


